html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://i.ibb.co/zVN95G9h/Chat-GPT-Image-11-dic-2025-21-30-27.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2));
    z-index: -1;
  }
}

.navbar-logo {
  height: 40px;
  width: auto;
}

@media (max-width: 576px) {
  .navbar-logo {
    height: 32px;
  }
}

.flip-card-container {
  perspective: 1000px;
  height: 100%;
}

.flip-toggle {
  display: none;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card {
  min-height: 350px;
}

.flip-toggle:checked+.flip-card {
  transform: rotateY(180deg);
}

.flip-front .card-body {
  padding-top: 2rem;
  text-align: center;
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-front,
.flip-back {
  top: 0;
  left: 0;
  border-radius: 0.5rem;
}

.flip-back {
  transform: rotateY(180deg);
}

.img-card {
  height: 200px;
  object-fit: cover;
}

.flip-back .card-body {
  overflow-y: auto;
  max-height: calc(100% - 60px);
}

.card-body.text-center{
  container-type: inline-size;
  width: 100%;
}

.card-title {
  font-size: clamp(1rem, 6cqw, 3rem); 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-footer {
  background: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.text-shadow-soft {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.card-img-top,
.img-card {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.header-transparente {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.select2-container {
  width: 100% !important;
}

.input-group>.select2-container {
  flex: 1 1 auto;
}

.select2-container--default .select2-selection--single {
  height: calc(2.375rem + 2px);
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: normal;
  color: #495057;
}

.input-group>.select2-container {
  flex: 1 1 auto;
}

.select2-container {
  width: 100% !important;
}

.select2-results__option{
  &>span{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: start;
    column-gap: .5rem;
    & .img-ingr{
      max-height: 3rem;
    }
    & small{
      padding-left: 1rem;
      font-size: 0.5rem;
      color: #495057;
    }
  }
}